# Feature of Python:

designed by : Guido Van Rossum in 20 Feb 1991.
    & the first version of python was 0.9.0
    & the current version of python is 3.10.5

Why Python?

1. Simplest language amongst all languages.
2. Simple to learn, simple to debug.
3. Free & Open source.
4. Globally available.
5. It has a vast library support.
6. Almost 70-75% of the data scientist use python as their primary programming language.
7. Programming friendly language. (easy to write, read & script)
8. Python is interprited language.
9. Most Widly used lamguage.
10. It supports Procedural programming concept & object oriented programing concept. (Functions & class)
11. Dynamically Typed languauge. (We need not mention the data type of the variable).
No need for variable data type declaration.
12. Most simplest language. Almost feels like we are reading english.

In [1]:
23425 + 56576

80001

In [2]:
23425 - 56576

-33151

In [3]:
23425/5

4685.0

In [4]:
23425*5

117125

In [ ]:
4685.0 + 10

# Variables

Defination : Variables are containers to store the data or information.

In [5]:
23425 + 56576

80001

In [6]:
myvariable = 23425 + 56576

In [7]:
myvariable

80001

Rules to define a variable:
    1. Letters (A-Z, a-z, 0-9)
    2. It should not start with numbers(0-9).
    3. It can not contain any special character (!,@,#,$,%,,^,&,*,|) except (_)
    4. Case Sensitive. (The sequence of uppercase & lowercase has to be maintained.)
    5. It should not be any reserved word (and, or, class, if, else, elif, True, False, def, None)
    6. Multiple variables can be used in single line using , or ;

In [8]:
value = 100

In [9]:
value

100

In [10]:
VALUE = 200
VALUE

200

In [12]:
NEWvalue = 300
NEWvalue

300

In [13]:
NEWvalue4 = 400
NEWvalue4

400

In [14]:
# should not start with numbers
4NEWvalue = 400
4NEWvalue

SyntaxError: invalid syntax (2643310618.py, line 1)

In [15]:
# special characters not allowed
&hello = 111

SyntaxError: invalid syntax (3207138995.py, line 1)

In [17]:
he$llo = 111

SyntaxError: cannot assign to operator (1535653729.py, line 1)

In [18]:

he%llo = 111

SyntaxError: cannot assign to operator (1535653729.py, line 1)

In [19]:
he_llo = 111

In [20]:
he_llo

111

In [21]:
# can start with underscore
_hi = 1000
_hi

1000

In [22]:
# space special character not allowed
hi hello = 555
hi hello

SyntaxError: invalid syntax (2676541535.py, line 1)

In [23]:
A_B = 9
a_B

NameError: name 'a_B' is not defined

In [25]:
# Case sensitive
A_B = 9
a_b

NameError: name 'a_b' is not defined

In [24]:
A_B = 9
A_B

9

In [26]:
# reserved words that are in bold greeb color are not allowed as variables.
class = 66
class

SyntaxError: invalid syntax (4031382265.py, line 1)

In [27]:
import = 1234
import

SyntaxError: invalid syntax (1380859439.py, line 1)

In [28]:
x,y = 10,20

x

10

In [29]:
y

20

In [30]:
x = 15; y = 25

In [31]:
x

15

In [32]:
y

25

In [35]:
x = y = 30
x

30

In [36]:
y

30

In [37]:
James_bond_007 = 7

In [38]:
Elif = 'hi'
Elif

'hi'

In [ ]:
MYVAR >> Valid
myvar >> valid
MyVar >> Valid
_myVar >> valid
0myvar >> Invalid
007James_bond >> Invalid
James-bond007 >> Invalid
James bond 007 >> Invalid
James_bond_007 >> Valid
My^Var >> Invalid
import >> Invalid
elif >> Invalid
Elif >> Valid