# Delete Items from list

Remove
pop
clear
del

## remove()

remove is used to remove the item from the list
by default it removes the first occurance of the item from the list

In [2]:
list1 = [2,3,5,'python',6.7,5,'class']
list1

[2, 3, 5, 'python', 6.7, 5, 'class']

In [4]:
list1.remove('python')
list1

[2, 3, 5, 6.7, 5, 'class']

In [5]:
list1 = [2,3,5,'python',6.7,5,'class']
list1.remove(5)
list1

[2, 3, 'python', 6.7, 5, 'class']

In [6]:
list1 = [2,3,5,'python',6.7,5,'class']
list1.remove(100)
list1

ValueError: list.remove(x): x not in list

In [8]:
list1 = [2,3,5,'python',6.7,5,'class']

if 100 in list1:
    list1.remove(100)
else:
    print('100 not in list1')

100 not in list1

In [10]:
#Use of copy function

list1 = [2,3,5,'python',6.7,5,'class']

list2 = list1.copy()

list2.remove(6.7)

list2,list1

([2, 3, 5, 'python', 5, 'class'], [2, 3, 5, 'python', 6.7, 5, 'class'])

In [11]:
# without using copy the changes relects in both the variables/list.

list1 = [2,3,5,'python',6.7,5,'class']

list2 = list1

list2.remove(6.7)

list2,list1

([2, 3, 5, 'python', 5, 'class'], [2, 3, 5, 'python', 5, 'class'])

In [12]:
list1 = [2,3,5,'python',6.7,5,'class']
list1.remove(5)
list1.remove(5)
list1

[2, 3, 'python', 6.7, 'class']

In [15]:
list1 = [2,3,5,'python',6.7,5,'class']

x = list1.count(5)

for i in range(x):
    list1.remove(5)
    
list1

[2, 3, 'python', 6.7, 'class']

In [16]:
x = [1,2,3,[4,5],6]
x.remove([4,5])
x

[1, 2, 3, 6]

In [18]:
x = [1,2,3,[4,5],6]
# x.remove([4])
x.remove(4)
x

ValueError: list.remove(x): x not in list

## Pop()

pop(index)
if we dont pass any index in pop then by default it pops the last item of the list

In [19]:
list1 = [2,3,5,'python',6.7,5,'class']

list1.pop()  # pop has no index mentioned so it removes the last item of list

list1

[2, 3, 5, 'python', 6.7, 5]

In [20]:
list1 = [2,3,5,'python',6.7,5,'class']

list1.pop(2)  

list1

[2, 3, 'python', 6.7, 5, 'class']

In [21]:
list1 = [2,3,5,'python',6.7,5,'class']

list1.pop(-2)  

list1

[2, 3, 5, 'python', 6.7, 'class']

In [24]:
list1 = [2,3,5,'python',6.7,5,'class']

list1.pop([-2,2])  

list1

TypeError: 'list' object cannot be interpreted as an integer

In [25]:
list1 = [2,3,5,'python',6.7,5,'class']

list1.pop(list1.index('python'))  

list1

[2, 3, 5, 6.7, 5, 'class']

In [34]:
list1 = [2,3,5,'python',6.7,5,'class',5]
list2 = []

for i,j in enumerate(list1):
    if j == 5:
        list2.append(i)
        
print('indexes of repeated number 5 is: ',list2)

a = 0
for i in range(len(list2)):    # 0,1
    
    list1.pop(list2[i]-a)
    a+=1
    
list1

indexes of repeated number 5 is:  [2, 5, 7]

[2, 3, 'python', 6.7, 'class']

In [36]:
list1 = [2,3,5,'python',6.7,5,'class',5]
list2 = list1.copy()
print(list1,list2)

for i in list1:
    if i==5:
        list2.remove(i)
        
list2

[2, 3, 5, 'python', 6.7, 5, 'class', 5] [2, 3, 5, 'python', 6.7, 5, 'class', 5]

[2, 3, 'python', 6.7, 'class']

In [40]:
list1 = [2,3,5,'python',6.7,5,'class',5]
list2 = []

print(list1,list2)

for i in list1:
    if i not in list2:list2.append(i)
        
list2

[2, 3, 5, 'python', 6.7, 5, 'class', 5] []

[2, 3, 5, 'python', 6.7, 'class']

In [42]:
list1 = [2,3,5,'python',6.7,5,'class',5]
list2 = []
[list2.append(i) for i in list1 if i not in list2]       # List comprehension
list2

[2, 3, 5, 'python', 6.7, 'class']

In [38]:
list1 = [2,3,5,'python',6.7,5,'class',5]
        
set(list1)

{2, 3, 5, 6.7, 'class', 'python'}

In [43]:
lis=[1,2,3,4,5,1,2,5,7,4,6,5]

for i,j in enumerate(lis):
    if j==5:
        lis.pop(i)
lis

[1, 2, 3, 4, 1, 2, 7, 4, 6]

## clear()

it clears all the items from the list & leaves the list empty

In [44]:
list1 = [2,3,5,'python',6.7,5,'class',5]

list1.clear()
list1

[]

In [45]:
list1 = [2,3,5,'python',6.7,5,'class',5]

list1.clear(5)
list1

TypeError: clear() takes no arguments (1 given)

In [46]:
list1 = [2,3,5,'python',6.7,5,'class',5]

list1.clear()
print(list1,' -is my list1')

if list1:print('list1 exist')
else:print('list1 does not exist')

[]  -is my list1
list1 does not exist

In [47]:
list1   # if a list is empty it is as good as not existing!

[]

In [48]:
type(list1)

list

In [49]:
id(list)

140736301336624

## del

is used to delete the list alltogether
is also used to delete a specific item of the list
is also used to delete a slice from the list

In [50]:
list1 = [2,3,5,'python',6.7,5,'class',5]

del list1       # deleting a list alltogether

list1

NameError: name 'list1' is not defined

In [51]:
list1 = [2,3,5,'python',6.7,5,'class',5]

del list1[3]          # deleting a specific item form the list

list1

[2, 3, 5, 6.7, 5, 'class', 5]

In [52]:
list1 = [2,3,5,'python',6.7,5,'class',5]

del list1[3:6]          # deleting a slice form the list

list1

[2, 3, 5, 'class', 5]

# sorting of list

## Ascending order

smaller to bigger

eg: 2,3,4,5,6,7

### sort()

sort modifies the actual list
it does not need any external variable to store the change

In [53]:
lis=[5,9,2,8,4,6]
lis.sort()
lis

[2, 4, 5, 6, 8, 9]

In [54]:
lis=[5,9,2,8,4,'hello',6]
lis.sort()
lis

TypeError: '<' not supported between instances of 'str' and 'int'

In [56]:
lis=['Apolo','Hercules','Zeus','Ceaser','Brutas','Aristocatle']
lis.sort()
lis

['Apolo', 'Aristocatle', 'Brutas', 'Ceaser', 'Hercules', 'Zeus']

In [57]:
lis=['Apolo','Hercules','Zeus','Ceaser','Brutas','aristocatle','gretos']
lis.sort()
lis

['Apolo', 'Brutas', 'Ceaser', 'Hercules', 'Zeus', 'aristocatle', 'gretos']

In [58]:
# Sorting by sequence >> special chars, numbers, Capitals, small letter

lis=['Apolo','$Hercules','Zeus','Ceaser','Brutas','aristocatle','gretos','007']
lis.sort()
lis

['$Hercules',
 '007',
 'Apolo',
 'Brutas',
 'Ceaser',
 'Zeus',
 'aristocatle',
 'gretos']

### sorted()

sorted does not modify the actual list
it does require an external variable to store the change. bcz the change us not reflected in the actual list
it's an inbilt python function

In [59]:
lis=[5,9,2,8,4,6]
sorted(lis)

[2, 4, 5, 6, 8, 9]

In [60]:
lis

[5, 9, 2, 8, 4, 6]

In [61]:
lis=[5,9,2,8,4,6]
lis=sorted(lis)
lis

[2, 4, 5, 6, 8, 9]

In [63]:
lis=[5,9,2,8,4,6]
zzz=sorted(lis)
zzz,lis

([2, 4, 5, 6, 8, 9], [5, 9, 2, 8, 4, 6])

In [64]:
# Sorting by sequence >> special chars, numbers, Capitals, small letter

lis=['Apolo','$Hercules','Zeus','Ceaser','Brutas','aristocatle','gretos','007']
sorted(lis)

['$Hercules',
 '007',
 'Apolo',
 'Brutas',
 'Ceaser',
 'Zeus',
 'aristocatle',
 'gretos']

In [65]:
lis=[5,9,2,8,4,'hello',6]
sorted(lis)

TypeError: '<' not supported between instances of 'str' and 'int'

## Descending Order

bigger to smaller
to set in descending order we need to use reverse parameter within sort & sorted functions

### sort()

In [67]:
lis=[5,9,2,8,4,6]
lis.sort(reverse=True)
lis

[9, 8, 6, 5, 4, 2]

In [68]:
lis=[5,9,2,8,4,6]
lis.sort(reverse=1)
lis

[9, 8, 6, 5, 4, 2]

### sorted()

In [69]:
lis=[5,9,2,8,4,6]
lis=sorted(lis,reverse=True)
lis

[9, 8, 6, 5, 4, 2]

In [71]:
lis=[5,9,2,8,4,6]
lis=list(reversed(sorted(lis)))
lis

[9, 8, 6, 5, 4, 2]

# Reversing list

## reverse()

its a function of list that reverses the sequence of items in the list
it does not need any external variable to store the change

In [73]:
lis=[5,9,2,8,4,6]
lis.reverse()
lis

[6, 4, 8, 2, 9, 5]

In [74]:
lis=[5,9,2,8,4,6]
lis[::-1]
lis

[5, 9, 2, 8, 4, 6]

In [75]:
lis=[5,9,2,8,4,6]
lis.sort()
lis.reverse()
lis

[9, 8, 6, 5, 4, 2]

In [76]:
lis=[5,9,2,8,4,6]
lis.sort().reverse()
lis

AttributeError: 'NoneType' object has no attribute 'reverse'

## reversed()

we need an additional variable to store the change
creates an object which has to unfolded using list function
it's python inbuilt function

In [80]:
lis=[5,9,2,8,4,6]
reversed(lis)

In [81]:
lis=[5,9,2,8,4,6]
list(reversed(lis))

[6, 4, 8, 2, 9, 5]

In [82]:
lis

[5, 9, 2, 8, 4, 6]

In [83]:
lis=[5,9,2,8,4,6]
lis = list(reversed(lis))
lis

[6, 4, 8, 2, 9, 5]

# count()

In [84]:
lis=[5,9,2,5,8,4,6,5]

lis.count(5)

3

In [85]:
from collections import Counter
Counter(lis)

Counter({5: 3, 9: 1, 2: 1, 8: 1, 4: 1, 6: 1})

In [86]:
names = ['Apolo','$Hercules','Zeus','Apolo','Ceaser','Brutas','aristocatle','gretos','007']
names.count('Apolo')

2

In [87]:
names = ['A','B','M','I']
for i in names:
    if i=='A' or i=='I' or i=='E' or i=='O' or i=='U':
        print(f'{i} is vowel')

A is vowel
I is vowel

In [88]:
names = ['A','B','M','I']
vowels = list('AEIOU')

for i in names:
    if i in vowels:
        print(f'{i} is vowel')

A is vowel
I is vowel

In [93]:
names = ['Apolo','$Hercules','Zeus','apolo','Ceaser','Brutas','aristocatle','gretos','007']
vowels = list('AEIOUaeiou')
for i in names:
    if i[0] in vowels:
        print(f'{i} starts with vowel')

Apolo starts with vowel
apolo starts with vowel
aristocatle starts with vowel

In [94]:
lis=[5,9,2,5,8,4,6,5]

if lis.count(5)>1:
    print('5 occurs more than onces')

5 occurs more than onces

In [100]:
lis=[5,9,2,5,8,4,6,5,6]
lis2=[]

for i in lis:
    if lis.count(i)>1:
        if i not in lis2:
            lis2.append(i)
#         print(f'{i} occurs more than onces')
lis2

[5, 6]

In [101]:
lis=[5,9,2,5,8,4,6,5,6]
for i in lis:
    if lis.count(i)>1:
        lis.remove(i)
        
lis

[9, 2, 8, 4, 5, 6]

In [102]:
lis=[5,9,2,5,8,4,6,5,6]
set(lis)

{2, 4, 5, 6, 8, 9}

In [103]:
lis=[5,9,2,5,8,4,6,5,6]
lis2=[]

for i in lis:
    if i not in lis2:
        lis2.append(i)
lis2

[5, 9, 2, 8, 4, 6]

# Aggregate Functions

## Sum()

sum gives the addition of all the items in the list
works on numbers only

In [104]:
lis=[5,9,2,5,8,4,6,5,6]
sum(lis)

50

In [107]:
lis=[5.9,2.5,8.4]
sum(lis)

16.8

In [110]:
lis=[5+9j,2+5j,8+4j]
sum(lis)

(15+18j)

In [111]:
lis=[5+9j,2.5,8]
sum(lis)

(15.5+9j)

In [105]:
lis=[5,9,2,5,8,4,6,5,6,'7']
sum(lis)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [106]:
lis=['6','7']
sum(lis)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## max()

gives the maximum number from the list

In [112]:
lis=[5,9,2,5,8,4,6,5,6]
max(lis)

9

In [115]:
lis=[5,2.5,8]
max(lis)

8

In [114]:
lis=[5+9j,2.5,8]
max(lis)

TypeError: '>' not supported between instances of 'float' and 'complex'

## min()

gives the minimum number from the list

In [113]:
lis=[5,9,2,5,8,4,6,5,6]
min(lis)

2

In [116]:
lis=[5,2.5,8]
min(lis)

2.5

In [117]:
lis=[5+9j,2.5,8]
min(lis)

TypeError: '<' not supported between instances of 'float' and 'complex'

In [124]:
list1 = ['&','A','B','z','9']
print(sorted(list1))
max(list1)

['&', '9', 'A', 'B', 'z']

'z'

In [125]:
min(list1)

'&'

In [130]:
lis=[5+9j,2+5j,8+4j]
lis2=[]
for i in lis:
    lis2.append(round(abs(i),5))
    print(abs(i))
    
max(lis2)

10.295630140987
5.385164807134504
8.94427190999916

10.29563

## mean()

Mean : Average of all the items of list
Aum of all items / Total number of items

In [131]:
lis=[5,9,2,5,8]
sum(lis)/len(lis)

5.8

In [133]:
from numpy import mean
mean(lis)

5.8

In [134]:
from statistics import mean
mean(lis)

5.8

## Median

median : Center value of sorted list

In [141]:
lis=[5,9,2,6,8]

In [142]:
sorted(lis)

[2, 5, 6, 8, 9]

In [137]:
from numpy import median
median(lis)

6.0

In [143]:
lis=[5,9,2,6,8,7]

In [144]:
sorted(lis)

[2, 5, 6, 7, 8, 9]

In [139]:
from statistics import median
median(lis)

6.5

In [146]:
# function for even & odd numbers

x = int(input())

if x%2==0:print('x is even')
if x%2==1:print('x is odd')

9
x is odd

In [151]:
lis=[5,9,2,6,8,7]
lis.sort()

if len(lis)%2==1:
    median = lis[round(len(lis)/2)]
    
else:
    median = (lis[round(len(lis)/2)]+lis[(round(len(lis)/2)-1)])/2
    
median

6.5

In [147]:
lis=[5,9,2,6,8]
round(len(lis)/2)

2

In [148]:
lis=[5,9,2,6,8,7]
round(len(lis)/2)
mea

3

In [152]:
[int(input()) for i in range(5)]

4
5
6
7
8

[4, 5, 6, 7, 8]

In [153]:
x = int(input('how any numbers do you want in list: '))

dummy = []

for i in range(x):
    dummy.append(int(input()))

how any numbers do you want in list: 5
1
2
7
2
5

In [154]:
dummy

[1, 2, 7, 2, 5]

## Mode

Mode : The most frequently occured item

In [4]:
lis=[5,9,2,6,8,7,5]

max([(lis.count(i),i) for i in lis])[1]

5

In [13]:
lis=[5,9,2,6,8,7,5]
lis2=[]
for i in lis:
    lis2.append((lis.count(i),i))
    
max(lis2)[1]

5

In [14]:
from statistics import mode
mode(lis)

5

## Power()

In [16]:
x = 6

x*x     # square of x

36

In [17]:
x**2   # square of x

36

In [18]:
pow(x,2)

36

In [19]:
pow(x,3)

216

In [20]:
pow(x,1/2)

2.449489742783178

In [21]:
from math import pow

In [22]:
pow(100,0.5)

10.0