Define:
    String is collection of chracters that will be within single, double or triple inverted commas.
    It is also a data type in python.
    A String can contain english alphabets or numbers or special characters.
    The string data type is denoted by str.

In [1]:
hi there

SyntaxError: invalid syntax (1048808772.py, line 1)

In [2]:
'hi there'

'hi there'

In [3]:
my_var = 'hi there'
my_var

'hi there'

In [4]:
my_variable = 'Hi there 007'
my_variable

'Hi there 007'

In [5]:
number = 100
number

100

In [6]:
number = '100'
number

'100'

# Type function

is used to check the data type of the variable

In [7]:
type(number)

str

In [8]:
x = 100
type(x)

int

In [9]:
y = 123.12
type(y)

float

In [10]:
z = 3 + 4j
type(z)

complex

In [11]:
type(55284)

int

In [12]:
type('55284')

str

### when to use which quotes

single & double quotes can be used when we have a string of single line
for multiple lines string, triple single inverted or triple double inverted commas should be used.

In [13]:
'hey this is python class'

'hey this is python class'

In [14]:
"hey this is python class"

'hey this is python class'

In [15]:
'hey this is python class
welcome to velocity'

SyntaxError: EOL while scanning string literal (73582754.py, line 1)

In [16]:
"hey this is python class
welcome to velocity"

SyntaxError: EOL while scanning string literal (1318005913.py, line 1)

In [40]:
'''hey this is python class
welcome to velocity'''

hey this is python class
welcome to velocity

In [19]:
"""hey this is python class
welcome to velocity
this is your 2nd session"""

'hey this is python class\nwelcome to velocity\nthis is your 2nd session'

In [20]:
'''hello'''

'hello'

In [21]:
'hi what's your name?'

SyntaxError: invalid syntax (424448422.py, line 1)

In [22]:
"hi what's your name?"

"hi what's your name?"

In [23]:
"hi, let me tell you a "secret"."

SyntaxError: invalid syntax (542652947.py, line 1)

In [24]:
'hi, let me tell you a "secret".'

'hi, let me tell you a "secret".'

In [25]:
'''hi, let me tell you a "secret".'''

'hi, let me tell you a "secret".'

In [26]:
'hi what\'s your name?'

"hi what's your name?"

# Print & Display Function

In [27]:
"Harshal Ingle"
'Vaibhav Kadam'

'Vaibhav Kadam'

In [28]:
print("Harshal Ingle")
print('Vaibhav Kadam')

Harshal Ingle
Vaibhav Kadam

In [29]:
print("Harshal Ingle")
'Vaibhav Kadam'

Harshal Ingle

'Vaibhav Kadam'

In [30]:
print(9)

9

In [31]:
display("Harshal Ingle")
display('Vaibhav Kadam')

'Harshal Ingle'

'Vaibhav Kadam'

In [32]:
from IPython.display import display

### difference between these 2

In [33]:
import pandas as pd

df = pd.DataFrame({'A':[1,2,3,4],'B':[5,6,7,8]})
df

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

In [34]:
print(df)

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

In [35]:
display(df)

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

# Parameters in print function

## \n

is used for next line or new line

In [37]:
print('Welcome to python class \nin the velocity institute.')

Welcome to python class
in the velocity institute.

In [39]:
# it does not come to use when in string alone. It has to be used along with print function
'Welcome to python class \nin the velocity institute.'

Welcome to python class
in the velocity institute.

In [44]:
print('Welcome to python class \nin the velocity institute. \nData Science is really intresting ;)')

Welcome to python class
in the velocity institute.
Data Science is really intresting ;)

In [42]:
display('Welcome to python class \nin the velocity institute. \nData Science is really intresting ;)')

'Welcome to python class \nin the velocity institute. \nData Science is really intresting ;)'

## \t

is used for tab
adds 8 spaces right before the characters following \t.
will add only a single space

In [46]:
print('Welcome to python class \tin the velocity institute.')

Welcome to python class 	in the velocity institute.

In [48]:
print('Respected Sir, \n\tPlease accept my leave.\n\tOn an ungernt basis.')

Respected Sir,
	Please accept my leave.
	On an ungernt basis.

In [49]:
print('Welcome to python class\tin the velocity institute.')

Welcome to python class	in the velocity institute.

In [52]:
text = """Respected sir,
    Please accept my leave,
    on an urgent basis."""

print(text)

Respected sir,
    Please accept my leave,
    on an urgent basis.

# Escape Character (\\)

In [53]:
print('Welcome to \the class on 2nd day')

Welcome to 	he class on 2nd day

In [54]:
print('Welcome to the \new class on 2nd day')

Welcome to the
ew class on 2nd day

In [55]:
print('Welcome to \\the class on 2nd day')

Welcome to \the class on 2nd day

In [56]:
print('Welcome to the \\new class on 2nd day')

Welcome to the \new class on 2nd day

In [57]:
print('Here\'s the thing u wanted')

Here's the thing u wanted

# Raw string

In [ ]:
Raw string will bypass the significance of inbuilt parameters of print function.

In [59]:
print(r'Welcome to the \new class on 2nd day')

Welcome to the \new class on 2nd day

In [60]:
path = "C:\Users\nirmal\14 July Batch B"
path

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (1326651980.py, line 1)

In [62]:
path = "C:\\Users\\nirmal\\14 July Batch B"
path

'C:\\Users\\nirmal\\14 July Batch B'

In [63]:
path = r"C:\Users\nirmal\14 July Batch B"
path

'C:\\Users\\nirmal\\14 July Batch B'

In [64]:
path = r"C:\Users\nirmal\14 July Batch B"
print(path)

C:\Users\nirmal\14 July Batch B

# End parameter

In [66]:
print('Welcome to velocity')
print('to the python class')

Welcome to velocity
to the python class

In [67]:
print('Welcome to velocity',end=' ')
print('to the python class')

Welcome to velocity to the python class

In [68]:
print('Welcome to velocity',end='      ')
print('to the python class')

Welcome to velocity      to the python class

In [69]:
print('Welcome to velocity',end='++++++')
print('to the python class')

Welcome to velocity++++++to the python class

In [70]:
print('Welcome to velocity',end='\n\n')
print('to the python class')

Welcome to velocity

to the python class

In [73]:
print('Welcome to velocity to the python class',end='***')

Welcome to velocity to the python class***

In [78]:
# print('Welcome to velocity',end="to the python class")

Welcome to velocityto the python class

In [82]:
print('welcome to velocity',end=' & you are ')
print('in the data science course.')

welcome to velocity & you are in the data science course.

In [83]:
j = '****'
print('welcome to velocity',end=j)
print('in the data science course.')

welcome to velocity****in the data science course.

In [79]:
print('Welcome to velocity',end='***','to the python class')

SyntaxError: positional argument follows keyword argument (1229507852.py, line 1)

# sep paramter

In [84]:
print('Welcome to velocity','Python is the course you opted for!')

Welcome to velocity Python is the course you opted for!

In [85]:
print('Welcome to velocity','Python is the course you opted for!',sep='\n')

Welcome to velocity
Python is the course you opted for!

In [93]:
print('Welcome to velocity \nPython is the course you opted for!')

Welcome to velocity
Python is the course you opted for!

In [97]:
print('Welcome to velocity', '\n','Python is the course you opted for!',sep='')

Welcome to velocity
Python is the course you opted for!

In [86]:
print('Welcome to velocity','Python is the course you opted for!',sep='. ')

Welcome to velocity. Python is the course you opted for!

In [90]:
print('Welcome to velocity','Python is the course you opted for!',sep='\t\t')

Welcome to velocity		Python is the course you opted for!

In [91]:
print('Welcome to velocity','Python is the course you opted for','wish you happy learning',sep='. ')

Welcome to velocity. Python is the course you opted for!. wish you hppy learning

In [101]:
print('Welcome to velocity','Python is the course you opted for!',sep='\n',end=' ')
print('wish you happy learning')

Welcome to velocity
Python is the course you opted for! wish you happy learning

##### Difference b/w end & sep:

In [ ]:
end is used when we have 2 or more print statements following each other.
sep is used when we have 2 or more strings or variables in single print statement.