Set:
    unordered data type (hashing)
    mutable
    duplicates are not allowed
    indexing is not supproted on set
    
Mutable >> List, Set, Dict
Immutable >> string, Tuple, int, float, boolean

Sets are enclosed in {} curly braces
items in sets are separated by commas
initialise set by set constructor
data types of empty set is dict

while dict is also in curly braces but the items in dict are key value pairs which are separated by column & the items in dict is separated by comma whereas items in set are comma separated alone

In [1]:
set1 = {}
type(set1)

dict

In [2]:
set1 = set({})
type(set1)

set

In [3]:
set1 = {1}
type(set1)

set

In [4]:
set1 = {1,}
type(set1)

set

In [6]:
set1 = {'num':1}    #{key:value,key:value}
type(set1)

dict

list = []
tuple = ()
string = ""
set = {,}
dict = {key:value}

In [12]:
# set considers all unique/distinct values only
# order is changed

set1 = {3,6,7,5,4,4,100,200,2,212,'Welcome','hi','hello','%'}
set1

{'%', 100, 2, 200, 212, 3, 4, 5, 6, 7, 'Welcome', 'hello', 'hi'}

In [13]:
# program to remove duplicate items from list

list1 = [3,5,4,3,3,6,7]

set(list1)

{3, 4, 5, 6, 7}

In [14]:
set1 = {3,6,7,5,4,4,100,200,2,212,'Welcome','hi','hello','%'}

for i in set1:
    print(i)

hi
2
3
4
5
6
7
100
200
Welcome
hello
%
212

# Functions on set

## removing items form set

### remove()

it removes the selected item from the set
but if thee item is not rpesent then it throws error
it does not need any additonal variable to stroe the change

In [17]:
set1 = {3,6,7,5,4,4,100,200}

set1.remove(100)
set1

{3, 4, 5, 6, 7, 200}

In [18]:
set1 = {3,6,7,5,4,4,100,200}

set1.remove(4)
set1

{3, 5, 6, 7, 100, 200}

In [19]:
set1 = {3,6,7,5,4,4,100,200}

set1.remove('hi')
set1

KeyError: 'hi'

### discard

it also removes the item from set but if thee item is not present then it does not throw any error

In [20]:
set1 = {3,6,7,5,4,4,100,200}

set1.discard(200)
set1

{3, 4, 5, 6, 7, 100}

In [21]:
set1 = {3,6,7,5,4,4,100,200}

set1.discard('hi')
set1

{3, 4, 5, 6, 7, 100, 200}

### pop

it pops any random value from the set
when we print set, we can realise that pop is actually popping out the vlaue at the 0th index

In [25]:
set1 = {3,6,7,5,4,4,100,200}

print(set1)

set1.pop()

set1

{3, 4, 5, 6, 7, 100, 200}

{4, 5, 6, 7, 100, 200}

In [26]:
set1 = {3,6,7,5,4,4,100,200}

print(set1)

set1.pop(100)

set1

{3, 4, 5, 6, 7, 100, 200}

TypeError: pop() takes no arguments (1 given)

### clear()

In [28]:
set1 = {3,6,7,5,4,4,100,200}

set1.clear()
set1

set()

### del

In [29]:
del set1
set1

NameError: name 'set1' is not defined

In [30]:
set1 = {3,6,7,5,4,4,100,200}

del set1[0]

TypeError: 'set' object doesn't support item deletion

In [31]:
set1 = {3,6,7,5,4,4,100,200}
set1[0]

TypeError: 'set' object is not subscriptable

In [32]:
set1 = {3,6,7,5,4,4,100,200}
set1[0] = 500

TypeError: 'set' object does not support item assignment

# adding of items in set

## add()

it does not add iterator & multiple items
it also does not need any additonal variable to store the change

In [33]:
set1 = {3,6,7,5,4,4,100,200}

set1.add('Hello')
set1

{100, 200, 3, 4, 5, 6, 7, 'Hello'}

In [34]:
set1 = {3,6,7,5,4,4,100,200}

set1.add(500)
set1

{3, 4, 5, 6, 7, 100, 200, 500}

In [35]:
set1 = {3,6,7,5,4,4,100,200}

set1.add(500,1000)
set1

TypeError: add() takes exactly one argument (2 given)

In [36]:
set1 = {3,6,7,5,4,4,100,200}

set1.add({500,1000})
set1

TypeError: unhashable type: 'set'

## update()

update is used to add single or multiple items in the sets
*no need for any seprate variable to store change, itemss updated in original set.
even if we have to add single item, then it has to be passed in setr

In [40]:
set1 = {3,6,7,5,4,4,100,200,'hi'}

set1.update(500)
set1

TypeError: 'int' object is not iterable

In [41]:
set1 = {3,6,7,5,4,4,100,200,'hi'}

set1.update({500})
set1

{100, 200, 3, 4, 5, 500, 6, 7, 'hi'}

In [42]:
set1 = {3,6,7,5,4,4,100,200,'hi'}

set1.update({'hello','good morning'})
set1

{100, 200, 3, 4, 5, 6, 7, 'good morning', 'hello', 'hi'}

In [43]:
set1 = {3,6,7,5,4,4,100,200,'hi'}

set2 = {'hello','good morning'}
set3 = {-100,-200}
set4 = [100,9]

set1.update(set2,set3,set4)

set1

{-100, -200, 100, 200, 3, 4, 5, 6, 7, 9, 'good morning', 'hello', 'hi'}

NOTE: list, tuple or other similar iterators can be used within update function. However update fuction can not be used on them.

In [44]:
set1 = {3,6,7,5,4,4,100,200,'hi'}

set2 = {'hello','good morning'}
set3 = {-100,-200}
set4 = [100,9]

set4.update(set2,set3,set1)

set4

AttributeError: 'list' object has no attribute 'update'

## union

union needs another variable to store change
it does not add a single item to set but if we have to add a single itme then it has to be passed in a any iterator

In [46]:
set1 = {3,6,7,5,4,4,100,200,'hi'}
set2 = {'hello','good morning'}

set1 = set1.union(set2)
set1

{100, 200, 3, 4, 5, 6, 7, 'good morning', 'hello', 'hi'}

In [49]:
set1 = {3,6,7,5,4,4,100,200,'hi'}

set2 = {'hello','good morning'}
set3 = {-100,-200}
set4 = [100,9]

set5 = set1.union(set2,set3,set4)

set5

{-100, -200, 100, 200, 3, 4, 5, 6, 7, 9, 'good morning', 'hello', 'hi'}

# More functions

## intersection

gives the common items b/1 two or more sets
needs a separate vairable to store change

In [51]:
cities1 = {'Pune','Mumbai','Goa'}
cities2 = ['Maldives','Pokhra','Goa']

common = cities1.intersection(cities2)
common

{'Goa'}

In [74]:
cities1 = {'Pune','Mumbai','Goa'}
cities2 = {'Maldives','Pokhra','Goa','Pune'}
cities3 = {'Pune','Banaras'}

common = cities1.intersection(cities2,cities3)
common

{'Pune'}

In [53]:
cities1 = {'Pune','Mumbai','Goa'}
cities2 = {'Maldives','Pokhra'}

common = cities1.intersection(cities2)
common

set()

In [54]:
cities1 = {'Pune','Mumbai','Goa'}
cities2 = ['Maldives','Pokhra','Goa']


common = cities2.intersection(cities1)
common

AttributeError: 'list' object has no attribute 'intersection'

## intersection_update()

does not need any additonal variable to stroe change
modifies original set

In [76]:
cities1 = {'Pune','Mumbai','Goa'}
cities2 = {'Maldives','Pokhra','Goa'}
cities3 = {'Pune','Banaras','Goa'}

cities1.intersection_update(cities2,cities3)
cities1

{'Goa'}

In [59]:
cities1 = {'Pune','Mumbai','Goa'}
cities2 = ['Maldives','Pokhra','Goa']

cities1.intersection_update(cities2)
cities1

{'Goa'}

In [61]:
cities1 = {'Pune','Mumbai','Goa'}
cities2 = ['Maldives','Pokhra','Goa']

cities2.intersection_update(cities1)

AttributeError: 'list' object has no attribute 'intersection_update'

## difference

shows the uncommon items from the set on which difference function is called
needs an additional variable to store change

In [77]:
cities1 = {'Pune','Mumbai','Goa'}
cities2 = {'Maldives','Pokhra','Goa'}
cities3 = {'Pune','Banaras'}

x = cities1.difference(cities2)     # uncommon items b/w cities1 & cities2 that are present in cities1 
x

{'Mumbai'}

In [79]:
cities1 = {'Pune','Mumbai','Goa'}
cities2 = {'Maldives','Pokhra','Goa'}
cities3 = {'Pune','Banaras'}

x = cities1.difference(cities2,cities3)     # uncommon items b/w cities1 & cities2 that are present in cities1 
x

{'Mumbai'}

In [66]:
num1 = {1,2,3}
num2 = {3,5,7}

x = num1.difference(num2)     
x

{1, 2}

## difference_update

It reflects the changes in the same variable

In [80]:
cities1 = {'Pune','Mumbai','Goa'}
cities2 = {'Maldives','Pokhra','Goa'}
cities3 = {'Pune','Banaras'}

cities1.difference_update(cities2,cities3)     # uncommon items b/w cities1 & cities2 that are present in cities1 
cities1

{'Mumbai'}

In [69]:
num1 = {1,2,3}
num2 = {3,5,7}

num1.difference_update(num2)     
num1

{1, 2}

## symmetric_difference

shows the uncommon items from both the sets
needs an additional variable to store change
takes exactly 1 arguement

In [81]:
cities1 = {'Pune','Mumbai','Goa'}
cities2 = {'Maldives','Pokhra','Goa'}

x = cities1.symmetric_difference(cities2)     # uncommon items b/w cities1 & cities2 are stored into another variable
x

{'Maldives', 'Mumbai', 'Pokhra', 'Pune'}

In [82]:
cities3 = {'Pune','Banaras'}
cities1 = {'Pune','Mumbai','Goa'}
cities2 = {'Maldives','Pokhra','Goa'}

x = cities1.symmetric_difference(cities2,cities3)     # uncommon items b/w cities1 & cities2 are stored into another variable
x

TypeError: symmetric_difference() takes exactly one argument (2 given)

## Symmertic_difference_update

shows the uncommon items from both the sets
does not needs an additional variable to store change. relects the change in same variable
takes excatly one arguemnts

In [ ]:
cities1 = {'Pune','Mumbai','Goa'}
cities2 = {'Maldives','Pokhra','Goa'}

cities1.symmetric_difference_update(cities2)     # uncommon items b/w cities1 & cities2 are relected in cities1
cities

In [72]:
cities1 = {'Pune','Mumbai','Goa'}
cities2 = {'Maldives','Pokhra','Goa'}
cities3 = {'Pune','Banaras'}

cities1.symmetric_difference_update(cities2,cities3)    
cities1

TypeError: symmetric_difference_update() takes exactly one argument (2 given)

## isdisjoint()

It returns boolean values: True & False
When there is no item common b/w both sets then it return True else it returns False
it takes exactly one arguemnt

In [84]:
cities1 = {'Pune','Mumbai','Goa'}
cities2 = {'Maldives','Pokhra','Goa'}


cities1.isdisjoint(cities2)

False

In [85]:
cities1 = {'Pune','Mumbai','Goa'}
cities2 = {'Maldives','Pokhra'}


cities1.isdisjoint(cities2)

True

In [87]:
num1 = {1,2,4}
num2 = {3,5,7}

num1.isdisjoint(num2)

True

## issubset()

When all the items in set on which issubset function is used are also present in another set which is passed inside subset function then it returns True else will return False`

The length arguement set is always greater or equal to the length of the set on which issubset function is called

In [88]:
num1 = {1,2,4,3,5,7}
num2 = {3,5,7}

num2.issubset(num1)

True

In [89]:
num1 = {1,2,4,3,5}
num2 = {3,5,7}

num2.issubset(num1)

False

## issuperset()

In [ ]:
When all the items in set which is passed as an arguement in superset function are present inside the set on which issuperset function is called then it returns True else will return False

The length arguement set is always lesser or equal to the length of the set on which issuperset function is called.

In [91]:
num1 = {1,2,4,3,5,7}
num2 = {3,5,7}

num1.issuperset(num2)

True

In [92]:
num1 = {1,2,4,3,7}
num2 = {3,5,7}

num1.issuperset(num2)

False

# Rest of the functions

# Statistical functions work the same way-
min,
max,
len,
sum,
mean,
median,
mode

# list comprehension

In [ ]:
1 liner for loop encompassed in square braces.
short hand for loop

In [2]:
numbs = [3,5,7,9]
squares = []

for i in numbs:squares.append(i**2)
    
squares

[9, 25, 49, 81]

In [3]:
[(i**2) for i in numbs]     # short hand for loop

[9, 25, 49, 81]

In [106]:
[i%2==0 for i in numbs]

[False, False, False, False]

# Any

it returns True if even a single item in list/set/tuple is not 0 or False

In [93]:
set1 = {0,7,False,9,-3,4}

any(set1)

True

In [94]:
set1 = {0,0,False,0}

any(set1)

False

In [99]:
list1 = ['hi','Hello','Good morning']
test = []

for i in list1:
    test.append(i.istitle())
    
print(test)
any(test)

[False, True, False]

True

In [100]:
numbs = [3,5,7,9]

any([i%2==0 for i in numbs])

False

# All

it returns True if all the items in list/set/tuple is not 0 or False

In [96]:
set1 = {0,7,False,9,-3,4}

all(set1)

False

In [97]:
set1 = {7,9,-3,4}

all(set1)

True

In [111]:
169%(169**(1/2))

0.0

In [112]:
list1 = [4,16,121,169]
check = []

for item in list1:
    check.append(item%(item**(1/2))==0)
    
print(check)
all(check)

[True, True, True, True]

True

In [108]:
all([item%(item**(1/2))==0 for item in list1])

True