string : immutable, ordered, duplicate allowed   : " "
list   : mutable, ordered, duplicates allowed    : []
tuple  : immutable, ordered, duplicates allowed  : ()
set    : mutable, unordered, duplicates not allowed: set(), {1,}
frozen set: immutable, unordered, duplicates not allowed  frozenset()
    
dict   : mutable, 
        ordered  >= Python 3.6 version
        unordered < Python 3.6 version
        keys can not be duplicate    >> Allows Immutable data types (int, float,complex,string, tuple)
        Values can be duplicate      >> Allows all data types         
                                                  : {} , {key1:value,key2:value}

dict consist of key value pair & every key value pair is comma separated.
keys are case sensitive
keys & values are separated by colon (:)

In [2]:
dict1 = {}
dict1

{}

In [3]:
type(dict1)

dict

In [4]:
d1 = {'Name':'Sachin'}

d1,len(d1),type(d1)

({'Name': 'Sachin'}, 1, dict)

In [5]:
d1 = {'Name': }

d1,len(d1),type(d1)

SyntaxError: invalid syntax (<ipython-input-5-0da108c77365>, line 1)

In [7]:
players_data = {'Name':'Sachin','Age':45,'Jersey no':10,'High score':200,100:[52,49],50:[98,100]}

players_data

{'Name': 'Sachin',
 'Age': 45,
 'Jersey no': 10,
 'High score': 200,
 100: [52, 49],
 50: [98, 100]}

In [8]:
len(players_data)

6

In [9]:
import pandas as pd

df = pd.DataFrame.from_dict(players_data)
df

     Name  Age  Jersey no  High score  100   50
0  Sachin   45         10         200   52   98
1  Sachin   45         10         200   49  100

In [14]:
df = pd.DataFrame.from_dict(players_data,orient='index')
df = df.T
df

     Name Age Jersey no High score       100         50
0  Sachin  45        10        200  [52, 49]  [98, 100]

In [15]:
df.to_excel('player.xlsx')

In [16]:
players= {1:{'Name':'Sachin','Age':45,'Score':200},
         2:{'Name':'Sehvag','Age':44,'Score':219}}

players

{1: {'Name': 'Sachin', 'Age': 45, 'Score': 200},
 2: {'Name': 'Sehvag', 'Age': 44, 'Score': 219}}

In [20]:
df = pd.DataFrame(players)
(df.T).to_csv('cricket_players.csv')

# Accessing the items in dictionary

## accessing through keys

In [22]:
employees = {'Name':'Kunal','Salary':80000,'Designation':'Data Scientist','Age':30,'Emp_ID':10011}
employees

{'Name': 'Kunal',
 'Salary': 80000,
 'Designation': 'Data Scientist',
 'Age': 30,
 'Emp_ID': 10011}

In [23]:
employees['Name']

'Kunal'

In [24]:
employees['Salary']

80000

In [25]:
employees['salary']        # keys are case sensitive

KeyError: 'salary'

In [26]:
employees['experience']

KeyError: 'experience'

## get function

In [27]:
employees.get('Name')

'Kunal'

In [28]:
employees.get('Salary')

80000

In [29]:
employees.get('Experience')    # if the key is noot present then also it doesnt not throw an error

## using loop

In [32]:
for key in employees:
    print(key)

Name
Salary
Designation
Age
Emp_ID

In [34]:
for i in employees:
    print(i,':',employees[i])

Name : Kunal
Salary : 80000
Designation : Data Scientist
Age : 30
Emp_ID : 10011

## .keys()

to enlist all the keys of the dict

In [35]:
employees.keys()

dict_keys(['Name', 'Salary', 'Designation', 'Age', 'Emp_ID'])

In [38]:
list(employees.keys())

['Name', 'Salary', 'Designation', 'Age', 'Emp_ID']

In [39]:
for key in employees.keys():
    print(key)

Name
Salary
Designation
Age
Emp_ID

## .values()

to enlist all the values of the dict

In [40]:
employees.values()

dict_values(['Kunal', 80000, 'Data Scientist', 30, 10011])

In [41]:
for value in employees.values():
    print(value)

Kunal
80000
Data Scientist
30
10011

## .items()

to enlist all the items (key,value pair) of the dict

In [42]:
employees.items()

dict_items([('Name', 'Kunal'), ('Salary', 80000), ('Designation', 'Data Scientist'), ('Age', 30), ('Emp_ID', 10011)])

In [45]:
list(employees.items())

[('Name', 'Kunal'),
 ('Salary', 80000),
 ('Designation', 'Data Scientist'),
 ('Age', 30),
 ('Emp_ID', 10011)]

In [43]:
for item in employees.items():
    print(item)

('Name', 'Kunal')
('Salary', 80000)
('Designation', 'Data Scientist')
('Age', 30)
('Emp_ID', 10011)

In [44]:
for key,value in employees.items():
    print(key,'>>',value)

Name >> Kunal
Salary >> 80000
Designation >> Data Scientist
Age >> 30
Emp_ID >> 10011