# Adding, updating, changing items of dict

## changing items of dict

In [2]:
employees = {'Emp_name':'Kunal','Salary':80000,'Designation':'Data Scientist','Age':30,'Emp_ID':10011}

In [3]:
employees['Emp_name']='Sumit'
employees

{'Emp_name': 'Sumit',
 'Salary': 80000,
 'Designation': 'Data Scientist',
 'Age': 30,
 'Emp_ID': 10011}

## adding or updating values using update function

In [4]:
employees = {'Emp_name':'Kunal','Salary':80000,'Designation':'Data Scientist','Age':30,'Emp_ID':10011}

employees.update({'Emp_name':'Hemant'})

In [5]:
employees

{'Emp_name': 'Hemant',
 'Salary': 80000,
 'Designation': 'Data Scientist',
 'Age': 30,
 'Emp_ID': 10011}

In [6]:
employees = {'Emp_name':'Kunal','Salary':80000,'Designation':'Data Scientist','Age':30,'Emp_ID':10011}

new_data = {'Emp_name':'Hemant','Experience':6,'Salary':100000}

employees.update(new_data)

employees

{'Emp_name': 'Hemant',
 'Salary': 100000,
 'Designation': 'Data Scientist',
 'Age': 30,
 'Emp_ID': 10011,
 'Experience': 6}

In [7]:
employees = {'Emp_name':'Kunal','Salary':80000,'Designation':'Data Scientist','Age':30,'Emp_ID':10011}

new_data = {'Emplpoyee':'Kunal'}

employees.update(new_data)

employees

{'Emp_name': 'Kunal',
 'Salary': 80000,
 'Designation': 'Data Scientist',
 'Age': 30,
 'Emp_ID': 10011,
 'Emplpoyee': 'Kunal'}

## Setdefault

It will return a value with specific key if the key is present
It a key is not present in dict & only the variable is passed then it adds a key in dict with the key variable name & the value will be set to none
it does not change the value of the key if the key is present but it can add another key with value

In [8]:
employees = {'Emp_name':'Kunal','Salary':80000,'Designation':'Data Scientist','Age':30,'Emp_ID':10011}

employees.setdefault('Age')

30

In [10]:
employees.setdefault('Complany','Infosys')

'Infosys'

In [11]:
employees

{'Emp_name': 'Kunal',
 'Salary': 80000,
 'Designation': 'Data Scientist',
 'Age': 30,
 'Emp_ID': 10011,
 'Complany': 'Infosys'}

In [12]:
employees.setdefault('Experience')

In [13]:
employees

{'Emp_name': 'Kunal',
 'Salary': 80000,
 'Designation': 'Data Scientist',
 'Age': 30,
 'Emp_ID': 10011,
 'Complany': 'Infosys',
 'Experience': None}

# Removing items of dict

## pop

In [14]:
employees = {'Emp_name':'Kunal','Salary':80000,'Designation':'Data Scientist','Age':30,'Emp_ID':10011}

employees.pop('Age')

employees

{'Emp_name': 'Kunal',
 'Salary': 80000,
 'Designation': 'Data Scientist',
 'Emp_ID': 10011}

In [15]:
employees = {'Emp_name':'Kunal','Salary':80000,'Designation':'Data Scientist','Age':30,'Emp_ID':10011}

employees.pop('age')

employees

KeyError: 'age'

In [16]:
employees = {'Emp_name':'Kunal','Salary':80000,'Designation':'Data Scientist','Age':30,'Emp_ID':10011}

employees.pop()

employees

TypeError: pop expected at least 1 argument, got 0

In [67]:
employees = {'Emp_name':'Kunal','Salary':80000,'Designation':'Data Scientist','Age':30,'Emp_ID':10011}

employees.pop('Kunal')

employees

KeyError: 'Kunal'

## if we wanted to replace only key in dict

In [70]:
employees = {'Emp_name':'Kunal','Salary':80000,'Designation':'Data Scientist','Age':30,'Emp_ID':10011}

employees['Employee'] = employees.pop('Emp_name')

In [71]:
employees

{'Salary': 80000,
 'Designation': 'Data Scientist',
 'Age': 30,
 'Emp_ID': 10011,
 'Employee': 'Kunal'}

In [72]:
employees = {'Emp_name':'Kunal','Salary':80000,'Designation':'Data Scientist','Age':30,'Emp_ID':10011}

employees.pop('Emp_name')
employees['Employee']='Kunal'

employees

{'Salary': 80000,
 'Designation': 'Data Scientist',
 'Age': 30,
 'Emp_ID': 10011,
 'Employee': 'Kunal'}

## popitem()

In [ ]:
it pops the last updated item /last item.

In [18]:
employees = {'Emp_name':'Kunal','Salary':80000,'Designation':'Data Scientist','Age':30,'Emp_ID':10011}

employees.popitem()

('Emp_ID', 10011)

In [19]:
employees

{'Emp_name': 'Kunal',
 'Salary': 80000,
 'Designation': 'Data Scientist',
 'Age': 30}

In [20]:
employees = {'Emp_name':'Kunal','Salary':80000,'Designation':'Data Scientist','Age':30,'Emp_ID':10011}

employees.popitem('Salary')

TypeError: popitem() takes no arguments (1 given)

## clear()

In [22]:
employees = {'Emp_name':'Kunal','Salary':80000,'Designation':'Data Scientist','Age':30,'Emp_ID':10011}

employees.clear()

In [23]:
employees

{}

## del

In [25]:
employees = {'Emp_name':'Kunal','Salary':80000,'Designation':'Data Scientist','Age':30,'Emp_ID':10011}

del employees

employees

NameError: name 'employees' is not defined

In [26]:
employees = {'Emp_name':'Kunal','Salary':80000,'Designation':'Data Scientist','Age':30,'Emp_ID':10011}

del employees['Age']

In [27]:
employees

{'Emp_name': 'Kunal',
 'Salary': 80000,
 'Designation': 'Data Scientist',
 'Emp_ID': 10011}

# Nested dict

In [28]:
emp_record = {'CG001':{'Name':'Rohit','Age':30},
             'CG002':{'Name':'Kishan','Age':25},
             'CG003':{'Name':'Hardik','Age':27}}

emp_record

{'CG001': {'Name': 'Rohit', 'Age': 30},
 'CG002': {'Name': 'Kishan', 'Age': 25},
 'CG003': {'Name': 'Hardik', 'Age': 27}}

In [29]:
emp_record['CG001']

{'Name': 'Rohit', 'Age': 30}

In [30]:
emp_record['CG001']['Name']

'Rohit'

In [32]:
import pandas as pd
pd.DataFrame(emp_record).T

         Name Age
CG001   Rohit  30
CG002  Kishan  25
CG003  Hardik  27

In [33]:
marks = [90,91,93,95,86]
subjects= ['Maths','Phy','Che','Bio','History']

dict1 = {}

for i,key in enumerate(subjects):
    for j,value in enumerate(marks):
        if i==j:
            dict1[key]=value
            
dict1

{'Maths': 90, 'Phy': 91, 'Che': 93, 'Bio': 95, 'History': 86}

In [36]:
marks = [90,91,93,95,86]
subjects= ['Maths','Phy','Che','Bio','History']

dict1 = {}

for i,key in enumerate(marks):
    for j,value in enumerate(subjects):
        if i==j:
            dict1[key]=value
            
dict1

{90: 'Maths', 91: 'Phy', 93: 'Che', 95: 'Bio', 86: 'History'}

In [39]:
marks = [90,91,93,95,86]
subjects= ['Maths','Phy','Che','Bio','History']

dict1 = {}

for i,key in enumerate(marks):
    for j,value in enumerate(subjects):
        if i==j:
            dict1.update({key:value})
            
dict1

{90: 'Maths', 91: 'Phy', 93: 'Che', 95: 'Bio', 86: 'History'}

# Zip function

In [41]:
marks = [90,91,93,95,86]
subjects= ['Maths','Phy','Che','Bio','History']

my_dict = dict(zip(subjects,marks))
my_dict

{'Maths': 90, 'Phy': 91, 'Che': 93, 'Bio': 95, 'History': 86}

In [42]:
marks = [90,91,93,95,86]
subjects= ['Maths','Phy','Che','Bio','History']

my_dict = dict(zip(marks,subjects))
my_dict

{90: 'Maths', 91: 'Phy', 93: 'Che', 95: 'Bio', 86: 'History'}

In [44]:
marks = [90,91,93,95,86]
subjects= ['Maths','Phy','Che','Bio','History']

my_list = list(zip(marks,subjects))
my_list

[(90, 'Maths'), (91, 'Phy'), (93, 'Che'), (95, 'Bio'), (86, 'History')]

In [45]:
dict(my_list)

{90: 'Maths', 91: 'Phy', 93: 'Che', 95: 'Bio', 86: 'History'}

# Wap to take a range & create a dict such that the range becomes the keys & their square becomes the values of the dict

In [46]:
n=int(input("Enter no : "))

dict1={}
for i in range (1,n+1):
    dict1.update({i:i**2})
print (dict1)

Enter no : 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [48]:
L=[i for i in range(1,10)]
M=[i**2 for i in range(1,10)]
print(L,M)
my_list=dict(zip(L,M))
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9] [1, 4, 9, 16, 25, 36, 49, 64, 81]

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

# Wap to count the occurances of words in a string. Keep the count in dictionary format.
This can also be done using Counter function
from collections import Counter

In [47]:
a="hello"
b={}    
for i,j in enumerate(a):
    b.update({j:(a.count(j))})
b

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [ ]:
string = '''@Unknow0059 It is my understanding that it is syntactic sugar. That was at least my reason for adding this comment. In practice there may be differences in how'''

from collections import Counter

print(Counter(string))
print()
print(Counter(string.lower().split()))

In [51]:
from collections import Counter
a="hello"
counted_dict = dict(Counter(a))
counted_dict

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

# Sorting

### sorting by keys

In [55]:
subjects = {'Maths': 90, 'Phy': 91, 'Che': 93, 'Bio': 95, 'History': 86}

sorted_dict = dict(sorted(subjects.items()))
sorted_dict

{'Bio': 95, 'Che': 93, 'History': 86, 'Maths': 90, 'Phy': 91}

In [ ]:
d = {'maths': 60, 'phy': 66, 'chem': 72, 'bio': 85, 'history': 89}

sorted_keys = sorted(d.keys())

dict1 = {}

for i in sorted_keys:
    dict1[i] = d[i]
    
dict1

### sorting by values

In [2]:
subjects = {'Maths': 90, 'Phy': 91, 'Che': 93, 'Bio': 95, 'History': 86}

dict(sorted([(value,key) for key,value in subjects.items()]))

{86: 'History', 90: 'Maths', 91: 'Phy', 93: 'Che', 95: 'Bio'}

In [2]:
subjects = {'Maths': 90, 'Phy': 91, 'Che': 93, 'Bio': 95, 'History': 86}

sorted_dict = dict(sorted(subjects.values()))
sorted_dict

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [13]:
subject = {'Math': 90, 'Science': 91, 'Geo': 93, 'History': 95, 'English': 86}

d = {}

for key,value in subject.items():
    d[value] = key
print(d)

dict(sorted(d.items()))

{90: 'Math', 91: 'Science', 93: 'Geo', 95: 'History', 86: 'English'}

{86: 'English', 90: 'Math', 91: 'Science', 93: 'Geo', 95: 'History'}

In [73]:
d = {'maths': 60, 'phy': 66, 'chem': 92, 'bio': 85, 'history': 89}

sort = dict()

for key,value in d.items():
    sort[value]=key
    
sorted_dict=dict(sorted(sort.items()))

final_dict = {}

for key,value in sorted_dict.items():
    final_dict[value]=key
    
print(final_dict)

{'maths': 60, 'phy': 66, 'bio': 85, 'history': 89, 'chem': 92}

In [74]:
subject = {'Math': 90, 'Science': 91, 'Geo': 93, 'History': 95, 'English': 86}

new_dict = {}
sorted_dict={}
for key,value in subject.items():
    new_dict[value] = key
print(new_dict)

sorted_items=sorted(new_dict.items())
# print(sorted_items)

sorted_dict=dict(sorted_items)
print(sorted_dict)

final_dict={}
for key,value in sorted_dict.items():
    final_dict[value] = key
print(final_dict)

{90: 'Math', 91: 'Science', 93: 'Geo', 95: 'History', 86: 'English'}
{86: 'English', 90: 'Math', 91: 'Science', 93: 'Geo', 95: 'History'}
{'English': 86, 'Math': 90, 'Science': 91, 'Geo': 93, 'History': 95}

In [75]:
subject = {'Math': 90, 'Science': 91, 'Geo': 93, 'History': 95, 'English': 86}

new_dict = {}
sorted_dict={}

for key,value in subject.items():
    new_dict[value] = key
print(new_dict)

for key in sorted(new_dict.keys()):
    sorted_dict[key] = new_dict[key]
    
sorted_dict

{90: 'Math', 91: 'Science', 93: 'Geo', 95: 'History', 86: 'English'}

{86: 'English', 90: 'Math', 91: 'Science', 93: 'Geo', 95: 'History'}

In [77]:
subject = {'Math': 90, 'Science': 90, 'Geo': 93, 'History': 95, 'English': 86}

new_dict = {}

for key,value in subject.items():
    new_dict[value] = key
print(new_dict)

dict(sorted(new_dict.items()))

{90: 'Science', 93: 'Geo', 95: 'History', 86: 'English'}

{86: 'English', 90: 'Science', 93: 'Geo', 95: 'History'}

# sorting dict that has same values

In [96]:
subjects = {'Maths': 90, 'Phy': 90, 'Che': 93, 'Bio': 95, 'History': 86}

{i[1]:i[0] for i in sorted([(value,key) for key,value in subjects.items()])}

{'History': 86, 'Maths': 90, 'Phy': 90, 'Che': 93, 'Bio': 95}

In [95]:
subjects = {'Maths': 90, 'Phy': 90, 'Che': 93, 'Bio': 95, 'History': 86}

x = sorted([(value,key) for key,value in subjects.items()])

dict1={}
for i in x:
    dict1[i[1]]=i[0]
    
dict1

{'History': 86, 'Maths': 90, 'Phy': 90, 'Che': 93, 'Bio': 95}

## dict comprehension

In [98]:
dict1 = {i : i**2 for i in range(1,6)}
dict1

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [102]:
list1 = [(i,i**2) for i in range(1,6)]
list1

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [103]:
dict1 = dict([(i,i**2) for i in range(1,6)])
dict1

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

# fromkeys()

It sets a perticular value to all the keys
fromkeys(sequence,value)
default value is none

In [105]:
dict.fromkeys(['a','e','i','o','u'],'vowels')

{'a': 'vowels', 'e': 'vowels', 'i': 'vowels', 'o': 'vowels', 'u': 'vowels'}

In [106]:
dict.fromkeys(['a','e','i','o','u'])

{'a': None, 'e': None, 'i': None, 'o': None, 'u': None}

In [107]:
dict.fromkeys(list('AEIOU'))

{'A': None, 'E': None, 'I': None, 'O': None, 'U': None}

In [108]:
dict.fromkeys([1,2,3,4],'Numbers')

{1: 'Numbers', 2: 'Numbers', 3: 'Numbers', 4: 'Numbers'}

In [109]:
a = [1,2,3,4]
dict.fromkeys(a,[i**2 for i in a])

{1: [1, 4, 9, 16], 2: [1, 4, 9, 16], 3: [1, 4, 9, 16], 4: [1, 4, 9, 16]}

In [111]:
dict.fromkeys([1,2,3,4],[1,4,9,14])

{1: [1, 4, 9, 14], 2: [1, 4, 9, 14], 3: [1, 4, 9, 14], 4: [1, 4, 9, 14]}

In [127]:
x = dict.fromkeys(list('AEIOU'))
print(x)
df = pd.DataFrame(x,index=['empty_col']).T.reset_index()
df

{'A': None, 'E': None, 'I': None, 'O': None, 'U': None}

  index empty_col
0     A      None
1     E      None
2     I      None
3     O      None
4     U      None

In [129]:
df['empty_col'] = [1,2,3,4,5]

In [130]:
df

  index  empty_col
0     A          1
1     E          2
2     I          3
3     O          4
4     U          5

# copy & deepcopy

works the same way it was working on list

for a single order dict, copy works the same as deepcopy
while in nested dict copy doesn't work well. So you need deep copy

In [137]:
from copy import copy,deepcopy

In [138]:
# single dimension dict >> copy works well
info = {'Name':'Rohit','Age':30}
data = copy(info)

data['Name']='Pollard'

data, info

({'Name': 'Pollard', 'Age': 30}, {'Name': 'Rohit', 'Age': 30})

In [134]:
emp_record = {'CG001':{'Name':'Rohit','Age':30},
             'CG002':{'Name':'Kishan','Age':25},
             'CG003':{'Name':'Hardik','Age':27}}

records = emp_record.copy()

records['CG001']['Name']='Suryakumar'
print(records,emp_record,sep='\n\n')

{'CG001': {'Name': 'Suryakumar', 'Age': 30}, 'CG002': {'Name': 'Kishan', 'Age': 25}, 'CG003': {'Name': 'Hardik', 'Age': 27}}

{'CG001': {'Name': 'Suryakumar', 'Age': 30}, 'CG002': {'Name': 'Kishan', 'Age': 25}, 'CG003': {'Name': 'Hardik', 'Age': 27}}

In [135]:
from copy import copy,deepcopy

In [136]:
# nested dict >> copy fails! Use deepcopy
emp_record = {'CG001':{'Name':'Rohit','Age':30},
             'CG002':{'Name':'Kishan','Age':25},
             'CG003':{'Name':'Hardik','Age':27}}

records = deepcopy(emp_record)

records['CG001']['Name']='Suryakumar'
print(records,emp_record,sep='\n\n')

{'CG001': {'Name': 'Suryakumar', 'Age': 30}, 'CG002': {'Name': 'Kishan', 'Age': 25}, 'CG003': {'Name': 'Hardik', 'Age': 27}}

{'CG001': {'Name': 'Rohit', 'Age': 30}, 'CG002': {'Name': 'Kishan', 'Age': 25}, 'CG003': {'Name': 'Hardik', 'Age': 27}}